@import url("photographer.css");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    
    --color-primary: #901C1C;
    --color-secondary: #DB8876;
    --color-tertiary: #D3573C;
    --color-dark: #000;
    --color-dark-medium: #757575;
    --color-light: #fff;
    --color-light-medium: #FAFAFA;
    --color-label: #312E2E;
  }

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

main {
    padding: 0 6rem;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.portrait_photographe {
    object-fit: cover;
    object-position: center;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}



.Photographe_card{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.vers_page_photographe{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    /* background-color: #DB8876; */
    width: 100%;
    position: relative;
}
.portrait_photographe{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: none;
}
.name_photographe {
    color: var(--color-tertiary);
    font-size: clamp(2.5rem, 3.2vw, 3.2rem);
    /* position: relative; */
    
}  
/* .name_photographe::after { */
    .vers_page_photographe::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    height: 2px;
    width: 0;
    background-color: var(--color-secondary);
    transition: width .2s ease-in-out;
}

/* .name_photographe:hover::after{ */
    .vers_page_photographe:hover::after{
    width: 40%;
} 

.paysPhotographe{  
    display: flex;
    color: var(--color-primary);
    font-size: clamp(1.8rem, 2vw, 2rem);
}


